# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Database
*.db

# Storage
backend/storage/

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
